body {
    background-color: #ccb4a5;
}

.parent {
    padding: 2rem -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    border: 3px solid red;
    height: 100px;
}
.date {
    margin: auto;
    display: inline-block;
    background-color: #808075;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    padding: 0.5rem 0rem;
    font-size: 25px;
    position:relative;
    right:90px;
    
}

    .date:hover {
        background-color: #cc9f76;
    }

.child {
    padding: 1rem 0rem;
    vertical-align: left;
    font-size: 30px;
}
.parent2 {
    padding: 2rem -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2 {
    padding: 1rem 0rem;
    vertical-align: right;
    font-size: 30px;
}
/* spacing */

table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0 15px;
    border: 3px solid purple;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 10%;
}
thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 8%;
}
thead th:nth-child(7) {
    width: 12%;
}

th,
td {
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
td {
    height: 70px;
    position: relative;
    top: 50%;
    transform: translateY(15%);

}
/* typography */

html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}



th {
    letter-spacing: 2px;
}

td {
    
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}
/* graphics and colors */

thead,
tfoot {
    color: white;
    text-shadow: 1px 1px 1px black;
}

    thead th,
    tfoot th,
    tfoot td {
        background: #966e36;
        border: 3px solid grey;
    }

/* zebra striping */

tbody tr:nth-child(odd) {
    background-color: #333333;
}

tbody tr:nth-child(even) {
    background-color: #b8b8b8;
}

tbody tr {
    
}

table {
    background-color: #ccb4a5;
}