body {
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}

section {
    box-sizing: border-box;
    height: 150px;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    background-color: gray;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 84.1% 100%, 16.1% 100%);
    transition: all 0.3s ease-in-out;
}


.info {
    position: relative;
    margin-top: 40px;
    border: 3px solid red;
    height: 100px;
}

.writing {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.parent2 {
    padding: 2rem -2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 40px;
}

.child {
    padding: 1rem 0rem;
    font-size: 25px;
    text-align: center;
}

.child2 {
    padding: 3rem 0rem;
    font-size: 16px;
    text-align: center;
    position: relative;
    font-weight: 600;
    top: 20px;
}
.child3 {
    padding: 3rem 0rem;
    font-size: 20px;
    text-align: left;
    position: relative;
    font-weight: 900;
    top: 20px;
}


.flights-table {
    border-collapse: separate;
    border-spacing: 0 5px; /* Add 5px of space between rows */
    width: 100%;
}
.flights-table2 {
    border-collapse: separate;
    border-spacing: 0 5px; /* Add 5px of space between rows */
    width: 100%;
    margin-bottom:50px;
}

td:nth-child(1) {
    width: 10%;
}

td:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 10%;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(6) {
    width: 20%;
}

tbody td {
    padding: 8px;
}

th {
    background-color: #848884;
    color: white;
    padding: 16px;
    font-size: 20px; /* Increase the font size */
    text-align: center; /* Center the text */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
}

td {
}


.flights-table tbody:hover .unfocused {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

tbody tr {
    background-color: #C0C0C0;
    height: 10rem;
    border-radius: 5%;
    box-shadow: 20px 20px 14px 4px rgba(0,0,0,0.59);
    -webkit-box-shadow: 20px 20px 14px 4px rgba(0,0,0,0.59);
    -moz-box-shadow: 20px 20px 14px 4px rgba(0,0,0,0.59);
    transition: all 0.3s ease-in-out;
    text-align: center; /* Center the text */
    font-weight: 600;
    font-size: 20px;
    transform: translateY(0); /* No initial transformation */
}

    tbody tr:hover {
        font-weight: 900;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); /* Increase the shadow on hover */
        transform: translateY(-8px); /* Lift the rows up on hover */
    }

