@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');
body {
    background-color: #d9f1ff;
}
.bg {
    position: fixed;
    top: -50px;
    left: 0;
    right:0;
    margin: 0 auto;
    width:1550px;
    height:720px;
    border-radius:30px;
}
.heading {
    position: relative;
    right: 16%;
    top: 230px;
    color: rgb(64,90,143);
    font-family: 'Martian Mono', monospace;
    font-size: 23px;
}

.heading2 {
    position: relative;
    font-family: 'Martian Mono', monospace;
    right: 14%;
    top: 230px;
    color: rgb(64,90,143);
    font-size: 23px;
}
@media (max-width: 500px) {

}

.search-box {
    width: 100%;
    max-width: 100%;
    height: 150px;
    border-radius: 16px;
    backdrop-filter: blur(3px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(0%);
    background-color: #B0E3FF;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 18px 18px 20px 4px rgba(89,89,145,0.75);
    -webkit-box-shadow: 18px 18px 20px 4px rgba(89,89,145,0.75);
    -moz-box-shadow: 18px 18px 20px 4px rgba(89,89,145,0.75);
    position: relative;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



.form-label {
    width: 180px;
    font-size: 18px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* create a 2-column grid */
    grid-gap: 10px; /* add some space between the grid cells */
    align-items: center; /* vertically center the grid items */
    margin-top:4%;
}


.form-input {
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #d9f1ff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:20px;
    transition: 0.3s ease-in-out;
}
input[type="date"] {

}
input[type="submit"] {
    width: 150px;
    color: floralwhite;
    margin-top: 2%;
    position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
#button {
    background-color: rgb(92,138,181);
}


.btn {
    border-radius: 10%;
    background: linear-gradient(90deg, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 100%);
}

    .btn:hover {
        box-shadow: inset 100px 0 0 0 #939393;
        color: white;
    }

.navbar {
    padding: 1.8rem;

}
.navbar-inverse .navbar-nav > li > a {
    color: #191970 !important;
    font-weight: 700;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    font-family: 'Martian Mono', monospace;
}
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #0F4092 !important;
    }
.nav {
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, 0);
    text-align:center;
}
ul {
    
}

@media only screen and (max-width: 1500px) {

    .navbar-inverse .navbar-nav > li > a {
        font-weight: 600;
        font-size: 20px;

    }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {


    .navbar-inverse .navbar-nav > li > a {
        font-weight: 500;
        font-size: 18px;
    }
}
@media only screen and (min-width: 760px) and (max-width: 1000px) {


    .navbar-inverse .navbar-nav > li > a {
        font-weight: 500;
        font-size: 18px;
    }
}


.logo {
    display: flex !important;
    height: 40px !important;
}
#skip-link {
    position: relative;
    top: 55px;
    left:50px;
    color: red;
}
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none; /* the loading screen should be hidden by default */
    align-items: center;
    justify-content: center;
}

    .loading-screen iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        border-radius:10%;
        pointer-events:none;
    }
    

