section2 {
    background-color: lightblue;
    width: 100%;
    position:relative;
}
section3 {
    position: relative;
    top:50px;
}
.header {
    
    height: 50px;
    width: 80%;
    margin-top: 120px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
}
h2{
    font-weight:bold;
    font-size:26px;
    margin-bottom:10px;
}
.header2 {
    height: 50px;
    width: 80%;
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    font-weight:600;
    padding-top:25px;
}
.passenger-form {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    background-color: lightgray;
    color: #444;
    border: 2px solid black;
    height: 150px;
    grid-gap: 10px;
    border-radius:5%;
}

h3 {
    position: relative;
    height: 20px;
    margin: 0 auto;
    top:20px;
    font-weight:bold;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-group {
    height: 60px;
    position: relative;
    top: 40px;
    right: 100px;
    margin-bottom: 20px;
    outline-color:red;
}
.form-control {
    width: 160px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #444;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.passenger-img {
    display: flex ;
    position:relative;
    top:60px;
    right:140px;
    height: 50px ;
}

