iframe {
    position: relative;
    animation: rotate 3s linear infinite;
    border-radius: 20%;
    pointer-events: none;
    width: 80px;
    height: 80px;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.payment-box {
    overflow: hidden;
    margin-top: 130px;
}

.left {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.right {
    width: 100%;
    background-color: floralwhite;
    box-shadow: inset 0 0 0 3px #fff, /* white border */
    inset 0 0 10px 5px rgba(0, 0, 0, 0.5); /* black shadow */
    border-radius: 5%;
}

#success-title {
    margin-left: 20px;
    width: 300px;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

#success-title2 {
    font-size:18px;
    position:relative;
    left:30px;
    top:40px;
    font-weight:bold;
}

.information {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.flights-info {
    width: 50%; /* make the boxes take up half the width of the parent element */
    height: 450px;
    text-align: center;
}

.flights-info2 {
    width: 50%; /* make the boxes take up half the width of the parent element */
    height: 450px;
    text-align: center;
}
    .flights-info2 h2 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 50px;
    }
    .info-box-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-top: 10px;
    }

    .payment-info{
        position:relative;
        left:25%;
    }


.first-flight ul, .second-flight ul {
    border: 0; /* remove the border */
    list-style: none; /* remove the bullet points */
    margin: 0; /* remove the margin */
    padding: 0; /* remove the padding */
    margin-top: 20px; /* add a top margin to the list */
    color: #171C49;
}

.first-flight li, .second-flight li {
    font-size: 16px !important;
    background-color: #eee;
    position: relative;
    margin: 0;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

    .first-flight li:last-child, .second-flight li:last-child {
        background: rgba( 255, 255, 255, 0.45 );
        bottom: -20px; /* add a bottom margin to the last list item */
        border: 3px solid rgb(199,234,255);
    }


.cross {
    background: black;
    height: 80px;
    position: absolute;
    width: 3px;
    top: 530px;
    left: 50%;
}

    .cross:after {
        background: black;
        content: "";
        height: 3px;
        left: -115px;
        position: absolute;
        top: 0px;
        width: 230px;
    }

.passengers-confirmation {
    position: relative;
    font-weight: bold;
    margin-bottom: 30px;
}

    .passengers-confirmation h2{
        font-size:22px;
        font-weight:bold;
        margin-top:50px;
        margin-left:20px;
        width:60%;
        border-bottom:3px solid black;
    }

    .passengers-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        grid-gap: 0px;
        margin-top: 50px;
        position: relative;
    }

.passenger-card {
    background-image: url(/images/ticket.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 0;
    width:100%;
    text-align: center;
}

    .passenger-card lu {
        position: relative;
        top: 30%;
        text-align:left;
        
        border: 0; /* remove the border */
        list-style: none; /* remove the bullet points */
        margin: 0; /* remove the margin */
        padding: 0; /* remove the padding */
        color: #171C49;
        left: 15px;

    }

    .passenger-card li {
        width: 60%;
        margin: 0;
        margin-left: 5%;
    }
        .passenger-card li:last-child{
            font-size: 18px;
            width:400px;
        }

        .passenger-label {
            width: 100px;
        }
            #from-to {
                margin-top:0%;
                margin-left:15%;
                width: 400px;
            }


.home-button {
    background-color: lightblue;

    width: 250px;
    position: relative;
    left:38%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.paypal-li{
    width:200px !important;
    margin-left: 40% !important;
    margin-bottom:10% !important;
    text-align:center;
    font-weight:bold;
}
