@{
    ViewBag.Title = "About";
}

<head>
    <link href="~/Content/about.css" rel="stylesheet" />
</head>


<body>

    <div class="about-section">
        <p class="fade-in">
            <b>Thank</b> you for considering our flight booking system for your travel needs. Our team of software engineering students developed this platform as part of their introduction to networking course,
            utilizing the latest technologies including ASP.NET, C#, and a Firebase database. The website has been designed to provide a seamless and intuitive experience for our users,
            with advanced search functionality and easy navigation.
        </p>
        <p class="fade-in">
            <b>To</b> enhance the overall user experience and ensure that our website is visually appealing, we have utilized both CSS and JavaScript in the design process.
            CSS allows us to define the styles and layout of our website, while JavaScript enables us to add dynamic and interactive elements such as animations and drop-down menus.
            By combining these technologies, we have been able to create a website that is not only functional but also visually appealing and engaging for our users.
        </p>
        <p class="fade-in">
            <b>One</b> of the features that we have implemented to improve the user experience is the "My Flight" page,
            which can be accessed from the navigation bar. This page allows users to enter their ID and confirmation number,
            which they received when they booked their flight, in order to view their reservation again.
            This is a convenient way for users to easily access their flight details, ensuring that they have all the information they need for their travels.
        </p>
        <p class="fade-in">
            <b>In</b> addition to the standard search criteria, such as departure and return dates, origin and destination countries, and number of passengers,
            our system also includes a sorting filter to help users find the best flights for their needs. Users can sort flights by price or popularity,
            and have the option to highlight the cheapest flight after search results are displayed. This helps users quickly and easily find the flights that best suit their budget and preferences.
        </p>
        <p class="fade-in">
            <b>To</b> ensure the safety and privacy of our users' personal and financial information, we have implemented stringent security measures throughout the system.
            This includes the use of firewalls to protect against unauthorized access, as well as the use of the AES (Advanced Encryption Standard) algorithm for encrypting sensitive data.
            We take the protection of our users' information very seriously and are dedicated to providing a secure platform for booking flights.
        </p>
        <p class="fade-in">
            <b>We</b> have also implemented a seat reservation system to ensure that users can secure their seats until the flight is completed.
            This prevents any conflicts or double bookings and allows users to confidently book their flights without worrying about availability.
            This feature is particularly useful for users who may not have the time to complete the booking process in one sitting,
            as it allows them to come back later and pick up where they left off.
        </p>
        <p class="fade-in">
            <b>To</b> further improve the user experience, we have incorporated multiple payment options into our system.
            In addition to the use of the PayPal sandbox, which allows us to simulate real-life payments in a secure and controlled environment,
            we also offer the option to pay directly through our website. We understand that convenience is important to our users,
            and we want to make it as easy as possible for them to book their flights. However, we also prioritize the security of our users' payment information.
            As such, we do not store all of the payment information that is provided, only keeping a limited amount on file in order to make it easier for users to book again in the future.
        </p>
        <p class="fade-in">
            <b>We</b> hope you find this feature to be a useful and convenient aspect of our flight booking system.
            With its advanced search functionality, strong security measures, seat reservation system, and user-friendly payment options,
            we are confident that you will have a smooth and enjoyable experience using our platform. Thank you for choosing us,
            and we look forward to assisting you with your travel plans.
        </p>
    </div>

</body>

