@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/home.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")


</head>

<body>
    <img class="bg" src="~/images/background.png" alt="">

    <div class="search-box">

        <form action="">

            <span for="from">From</span>
            <select name="From" id="from" required>
                <option value="BenGurion">Ben Gurion</option>
                <option value="Istanbul">Istanbul Sabiha</option>
                <option value="Dubai">Dubai Al Maktoum</option>
            </select>



            <span for="to">To</span>
            <select name="To" id="to" required>
                <option value="BenGurion">Ben Gurion</option>
                <option value="Istanbul">Istanbul Sabiha</option>
                <option value="Dubai">Dubai Al Maktoum</option>
            </select>

            <br />

            <span for="departure">Departure</span>
            <input type="date" id="departure" name="departure" placeholder="Add Date" required>

            <span for="return">Return</span>
            <input type="date" id="return" name="return" placeholder="Add Date" required>

            <br />

            <span for="class">Class</span>
            <select name="Class" id="class" required>
                <option value="economy">Economy Class</option>
                <option value="business">Business Class</option>
                <option value="first">First Class</option>
            </select>

            <span for="travelers">Travelers</span>
            <input type="text" id="travelers" name="travelers" placeholder="Specify Number of Travelers" required>

            <br />

            <input type="submit" value="Search">
        </form>

    </div>





</body>
</html>
