@model FlyWithMe.Models.SearchModel

@{
    ViewBag.Title = "Home Page";
    
}

<hr />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Flight</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/home.css" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")



</head>

<body>
    <h1>welcome to </h1>




</body>
</html>
