
@{
    ViewBag.Title = "Payment Success";
}

<head>
    <link href="~/Content/ProcessPayment.css" rel="stylesheet" />
    <title>Payment Success</title>
</head>
<body>
    <div class="payment-box">
        <div class="left">
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" allowFullScreen></iframe>
            <div id="success-title">Payment Successful</div>

        </div>

        <div class="right">
            <div id="success-title2">
                <p>Thank you for your purchase! Your flight details are as follows</p>
            </div>


            <div class="information">

                <div class="flights-info">
                    <div class="info-box-title">
                        - First Flight -
                        <div class="first-flight">
                            <ul>
                                <li>
                                    Origin Country :
                                </li>
                                <li>
                                    Destination Country :
                                </li>
                                <li>
                                    Departure Date :
                                </li>
                                <li>
                                    Passengers Count :
                                </li>
                                <li>
                                    Plane AirLine :
                                </li>
                                <li>
                                    Landing Time :
                                </li>
                                <li>
                                    Take Off Time :
                                </li>
                                <li>
                                    Total Price :
                                </li>
                            </ul>
                        </div>



                    </div>
                </div>
                @*@if (plane2 != null)
            {*@
                <div class="flights-info2">
                    <div class="info-box-title">
                        - Second Flight -
                        <div class="second-flight">
                            <ul>
                                <li>
                                    Origin Country :
                                </li>
                                <li>
                                    Destination Country :
                                </li>
                                <li>
                                    Departure Date :
                                </li>
                                <li>
                                    Passengers Count :
                                </li>
                                <li>
                                    Plane AirLine :
                                </li>
                                <li>
                                    Landing Time :
                                </li>
                                <li>
                                    Take Off Time :
                                </li>
                                <li>
                                    Total Price :
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                @*}*@



            </div>
            <div class="passengers-confirmation">
                <h2>Passengers Information</h2>
                <div class="passengers-section">

                    @*@foreach (FlyWithMe.Models.Passenger p in passenger)
                {
                    i++;*@
                    <div class="passenger-card" style="width:550px;">
                        <lu class="">
                            <li class="">
                                Passenger Name :
                                <label class="passenger-label">
                                    @*@p.Name*@
                                </label>
                            </li>

                            <li class="">
                                Passenger E-mail :
                                <label class="passenger-label">
                                    @*@p.Email*@
                                </label>
                            </li>

                            <li class="">
                                Passenger Phone :
                                <label class="passenger-label">
                                    @*@p.Phone*@
                                </label>
                            </li>

                            <li class="">
                                Passenger ID :
                                <label class="passenger-label">
                                    @*@p.ID*@
                                </label>
                            </li>

                            <li class="">
                                Passenger Seat :
                                <label class="passenger-label">
                                    @*@ViewBag.seatNumber[i]*@
                                </label>
                            </li>

                        </lu>
                    </div>
                    @*}*@


                </div>
            </div>

            <div class="payment-info">
                <div class="flights-info2">
                    <h2>Payment Information</h2>
                    <div class="info-box-title">

                        <div class="second-flight">
                            <ul>
                                <li>
                                    Name :
                                </li>
                                <li>
                                    Email :
                                </li>
                                <li>
                                    Card Number :
                                </li>
                                <li>
                                    Confirmation Number :
                                </li>
                                <li>
                                    Total Price :
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <button class="home-button">Return Home</button>
        </div>
        
    </div>


</body>
